:root {
  --orange: #e46225;
  --cream: #f9f5f1;
  --textColor: #3c3938;
}

a:hover {
  color: var(--orange);
  border-color: var(--orange);
}

h2.section-title {
  font-family: 'Kaoly';
  font-size: 115px;
  text-align: center;
  line-height: 85px;
  color: var(--orange);
  margin-bottom: 75px;
}

h2.section-title span.small {
  font-family: 'Lora';
  font-size: 50px;
  text-align: center;
  color: var(--orange);
  display: block;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-bottom: 20px;
}

p.large {
  text-align: center;
  margin: 0 auto;
}

p.small {
  font-size: 12pt;
  text-align: center;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.95);
}

#menu .menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

#menu .menu-wrapper .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  font-size: 12pt;
}

/* Home */
#home {
  background: var(--cream);
  border: 12px solid var(--orange);
  padding: 75px 0 35px 0;
  margin-top: 100px;
  position: relative;
}

#home h1 {
  font-size: 145px;
  text-align: center;
  line-height: 105px;
  color: var(--orange);
}

#home h1 span {
  font-size: 70px;
  font-family: 'Lora';
  display: block;
}

#home #home-title-left {
  top: 118px;
  left: 241px;
  position: absolute;
  background-image: url('../../images/home-title-left.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 63px;
  width: 46px;
}

#home #home-title-right {
  top: 258px;
  right: 261px;
  position: absolute;
  background-image: url('../../images/home-title-right.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 54px;
  width: 54px;
}

#home #home-left {
  top: -37px;
  left: -200px;
  position: absolute;
  background-image: url('../../images/home-left.svg');
  background-repeat: no-repeat;
  background-size: auto 702px;
  height: 688px;
  width: 460px;
  z-index: 3;
}

#home #home-right {
  top: -135px;
  right: -150px;
  position: absolute;
  background-image: url(../../images/home-right.svg);
  background-repeat: no-repeat;
  background-size: auto 806px;
  height: 768px;
  width: 460px;
  z-index: 3;
}

#home .date {
  color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  margin-left: -10px;
}

#home .date h3 {
  font-size: 34px;
  font-family: 'Kaoly';
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .date h3 span {
  font-size: 76px;
  font-family: 'Kaoly';
  padding: 0 30px;
}

#home .date h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.flower-spacer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.flower-spacer > div {
  width: 292px;
  height: 81px;
  background-image: url('../../images/home-wedding-spacer.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#wedding {
  padding-top: 80px;
}

#wedding p.small {
  margin-top: 50px;
}

#wedding .location {
  margin-top: 50px;
  background: var(--cream);
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
}

#wedding .location .text {
  padding-right: 50px;
}

#wedding .location p.small {
  text-align: left;
  margin-top: 20px;
}

#wedding .location p.large {
  text-align: left;
  margin: 0 0 30px 0;
}

#wedding .location #map {
  width: 666px;
  height: 100%;
}
#wedding .location #map-mobile {
  display: none;
}

#wedding-bride-and-groom-spacer {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin-bottom: -280px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
}

#wedding-bride-and-groom-spacer > div {
  width: 940px;
  height: 378px;
  background-image: url('../../images/wedding-bride-and-groom-spacer.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#bride-and-groom {
  background: var(--cream);
  border: 12px solid var(--orange);
  padding: 75px 50px 35px;
  margin-top: 50px;
  margin-bottom: 150px;
  position: relative;
}

#bride-and-groom h2.section-title {
  line-height: 120px;
  margin-bottom: 40px;
}

#bride-and-groom h2.section-title span {
  margin-bottom: -10px;
  margin-top: -20px;
}

#bride-and-groom .owl-carousel {
  margin-top: 50px;
  position: relative;
}

#bride-and-groom .owl-carousel div.photo {
  height: 400px;
  width: 100%;
}

#bride-and-groom .owl-carousel .owl-nav button.owl-next,
#bride-and-groom .owl-carousel .owl-nav button.owl-prev,
#bride-and-groom .owl-carousel button.owl-dot,
#bride-and-groom .owl-carousel .owl-nav button.owl-next:focus,
#bride-and-groom .owl-carousel .owl-nav button.owl-prev:focus,
#bride-and-groom .owl-carousel button.owl-dot:focus {
  height: auto;
  border: 0;
  box-shadow: none !important;
  text-align: center;
  font-size: 12pt;
  outline: none !important;
}

#bride-and-groom .owl-theme .owl-nav [class*='owl-']:hover {
  background: none;
  color: var(--orange);
}

#registry {
  margin-top: 80px;
  margin-bottom: 150px;
}

#registry .registry-box {
  margin-top: 100px;
  background: var(--cream);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
}

#registry h2.section-title {
  margin-bottom: 70px;
}

#wrapper {
  overflow: hidden;
}

#covid {
  background: var(--orange);
  padding: 75px 50px 35px;
  margin-bottom: 150px;
  margin-top: 100px;
  position: relative;
  color: var(--cream);
}

#covid h2 {
  color: var(--cream);
}

#contact {
  margin-top: 130px;
}

#contact .contact-box {
  margin-top: 50px;
  background: var(--cream);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
}

#contact .contact-box p.small {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  #wrapper > * > .inner {
    max-width: 900px;
  }
  #home #home-right {
    right: -255px;
  }
  #home #home-left {
    left: -243px;
  }
  #home #home-title-left {
    left: 107px;
  }
  #home #home-title-right {
    right: 131px;
  }
  #wedding .location #map {
    width: 400px;
  }

  #photos1-1 {
    left: 0px;
    height: 200px;
    margin-left: 30px;
  }

  #photos1-2 {
    left: 0px;
    top: 30px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
  #home h1 {
    font-size: 115px;
    line-height: 85px;
  }
  #home #home-left {
    top: -34px;
    left: -222px;
    background-size: auto 636px;
    height: 616px;
    width: 410px;
  }

  #home #home-right {
    right: -265px;
    top: -83px;
    background-size: auto 684px;
    height: 661px;
  }
  #home #home-title-left {
    left: 91px;
  }
  #home #home-title-right {
    right: 101px;
    top: 218px;
  }
  #home .date h3 {
    font-size: 30px;
  }
  #home .date h3 span {
    font-size: 66px;
  }
  #home .date h4 {
    margin-bottom: 15px;
  }
  h2.section-title {
    font-size: 75px;
    margin-bottom: 30px;
  }
  h2.section-title span.small {
    font-size: 30px;
    margin-bottom: 0;
    letter-spacing: 15px;
  }

  #wedding-bride-and-groom-spacer {
    margin-top: -40px;
  }

  #wedding-bride-and-groom-spacer > div {
    width: 100%;
    height: 280px;
    background-size: 100% auto;
  }
  #bride-and-groom h2.section-title {
    line-height: 85px;
    margin-bottom: 30px;
  }
  #bride-and-groom .photos {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .flower-spacer {
    margin-top: 100px;
  }

  .flower-spacer > div {
    width: 100%;
    height: 61px;
    background-size: auto 100%;
    background-position: 50% 50%;
  }

  #bride-and-groom .photos {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  #menu .menu-items {
    display: none;
  }
  #wrapper > * > .inner {
    padding: 0 1em;
  }
  #home {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 2em);
    margin-left: -1em;
    height: calc(100vh - 50px);
    overflow: hidden;
    min-height: 400px;
  }
  #home h1 {
    font-size: 75px;
    line-height: 65px;
    position: relative;
    z-index: 2;
  }
  #home h1 span {
    font-size: 45px;
  }
  #home #home-left {
    top: -40px;
    left: 0px;
    background-size: 210% 101vh;
    width: 100vw;
    height: calc(100vh + 40px);
    z-index: 2;
    background-position: 85% 0;
  }

  #home #home-right {
    top: -40px;
    right: -40px;
    background-size: 200% 101vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-position: 0 0;
  }
  #home #home-title-left {
    left: 6vw;
    top: calc(38vh - 50px);
    width: 30px;
    background-size: 100% auto;
  }
  #home #home-title-right {
    right: 7vw;
    top: calc(19vh - 50px);
    width: 30px;
    background-size: 100% auto;
  }

  #home .date {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #home .date h3 {
    font-size: 22px;
    flex-direction: column;
    line-height: 43px;
  }
  #home .date h3 span {
    font-size: 46px;
  }
  #home .date h4 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  h2.section-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  h2.section-title span.small {
    font-size: 25px;
    margin-bottom: 0;
    letter-spacing: 13px;
  }

  #wedding {
    padding-top: 0;
  }
  #wedding p.small {
    margin-top: 30px;
  }

  #wedding .location {
    padding: 20px;
    flex-direction: column;
  }

  #wedding .location .text {
    padding: 0;
  }

  #wedding .location #map {
    display: none;
  }
  #wedding .location #map-mobile {
    display: block;
    height: 350px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: -30px;
  }

  #wedding-bride-and-groom-spacer {
    margin-top: -50px;
    height: 450px;
    width: 135%;
  }

  #wedding-bride-and-groom-spacer > div {
    width: 100%;
    height: 280px;
    background-size: 100% auto;
  }

  #bride-and-groom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 2em);
    margin-left: -1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  #bride-and-groom h2.section-title {
    line-height: 65px;
    margin-bottom: 30px;
  }
  #bride-and-groom .photos {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #registry {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #covid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 2em);
    margin-left: -1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  #covid h2.section-title {
    line-height: 65px;
    margin-bottom: 30px;
  }

  #contact {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .flower-spacer {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .flower-spacer.home {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .flower-spacer > div {
    width: 100%;
    height: 61px;
    background-size: auto 100%;
    background-position: 50% 50%;
  }
}

@media screen and (max-width: 320px) {
  #home h1 {
    font-size: 55px;
    line-height: 55px;
    position: relative;
    z-index: 2;
  }
  #home h1 span {
    font-size: 35px;
  }
  h2.section-title {
    font-size: 45px;
  }
  h2.section-title span.small {
    font-size: 20px;
  }
  #bride-and-groom h2.section-title {
    line-height: 55px;
  }
}
